{% extends "base.html" %}

{% block title %} Welcome {% endblock title %}

{% block content %}

<div class="row">
    <div class="col-sm-3 col-xs-12" style="background-color:ghostwhite; height:500px;">
        <img src="http://i.imgur.com/Ftl3yZf.jpg" alt="Smiley face" height="80%" width="100%" style="padding-top:5%;">
        <h1> {{ request.user }}</h1>
    </div>

    <div class="col-sm-9">
        {% include "chweets/form.html" with form=create_form btn_title="Chweet!"%}

        <hr/>
        {% for chweet in chweets %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    {% if chweet.image %}
                    <img class="media-object" src="..." alt="...">
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="{% url 'view' chweet.id %}">Chweet No. {{ chweet.id }}</a></h4>
                {{ chweet.content }} <br/>
                by {{ chweet.user }} | {{ chweet.timestamp|timesince }} ago
            </div>
        </div>
        <hr/>
        {% empty %}
        {% if request.GET.q %}
        <p>No chweets found.</p>
        {% else %}
        <p>No Chweets yet.</p>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endblock content%}